<div class="container">
  <h1>Articles</h1>
  <%# <button type="button" class="btn btn-primary">Primary Button</button> %>

<ul>
    <% @articles.each do |article| %>
    <%# check if article arhicved %>
        <%# unless article.archived? %>
      <li>
        <%= link_to article.title, article %>
      </li>
        <%# end %>
    <% end %>
</ul>
<button type="button" class="btn btn-primary">
  <%= link_to "New Article", new_article_path, style: "color: white;" %>
</button>